
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: url(./images/pexels-brett-sayles-912364.jpg) no-repeat center center/cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.container {
    background: rgba(255, 255, 255, 0.2);
    padding: 20px;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    text-align: center;
    width: 400px;
    color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}


.navbar {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    background: rgba(0, 0, 0, 0.6);
    padding: 10px 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    justify-content: space-between;
    max-width: 600px;
    width: 90%;
}

.navbar h1 {
    color: white;
    font-size: 30px;
}


.dropdown {
    margin-left: auto;
    position: relative;
}

.dropbtn {
    background: white;
    color: black;
    padding: 8px 12px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background: white;
    min-width: 100px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    display: block;
    padding: 8px;
    text-decoration: none;
    color: black;
}

.dropdown:hover .dropdown-content {
    display: block;
}


input {
    width: 80%;
    padding: 8px;
    border: none; 
    border-radius: 5px;
    outline: none;
    text-align: center;
}

button {
    margin-top: 10px;
    background: #007BFF;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
}

button:hover {
    background: #0056b3;
}


#weatherInfo, #timeZone {
    margin-top: 15px;
    font-size: 18px;
}

h2, h3 {
    margin-bottom:
}
